body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#texto {
    font-size: 16px; /* Tamanho inicial do texto */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 60%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}